---
import { Icon } from "astro-icon/components";
import FormattedDate from "@components/FormattedDate.astro";

import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
}

const { entry } = Astro.props;
---

<div class="flex flex-col md:flex-row justify-between gap-8 md:gap-16 pb-2 pt-8 border-t-2">
  <FormattedDate date={entry.data.date} />
  <a href={`/${entry.collection}/${entry.slug}`} class="flex flex-1 flex-col gap-2 text-primary" aria-label={`Read more about ${entry.data.title}`}>
    <div class="text-xl font-semibold">{entry.data.title}</div>
    <div class="text-sm text-muted-foreground">{entry.data.description}</div>
  </a>
</div>
